@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Kaushan+Script&family=M+PLUS+Rounded+1c:wght@500&family=Noto+Serif+Display:ital,wght@0,100;0,400;0,700;0,800;1,200;1,300;1,400&family=Noto+Serif:ital,wght@0,700;1,700&family=Source+Code+Pro:ital,wght@1,700&family=Uchen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Kaushan+Script&family=M+PLUS+Rounded+1c:wght@500&family=Noto+Serif+Display:ital,wght@0,100;0,400;0,700;0,800;1,200;1,300;1,400&family=Noto+Serif:ital,wght@0,700;1,700&family=Source+Code+Pro:ital,wght@1,700&family=Uchen&family=Varela+Round&display=swap');

body {
    background-color: goldenrod;
}

* {
    margin: 0;
    padding: 0;
}

nav {
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Kaushan Script', cursive;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-family: 'Noto Serif', serif;
    font-family: 'Noto Serif Display', serif;
    font-family: 'Source Code Pro', monospace;
    font-family: 'Uchen', serif;

}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 70px;
    background-color: black;
    color: goldenrod;
}

nav ul li {
    padding: 0 12px;
}

.brand img {
    width: 70px;
    padding: 0 8px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container {
    min-height: 60vh;
    background-color: black;
    color: white;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Kaushan Script', cursive;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-family: 'Noto Serif', serif;
    font-family: 'Noto Serif Display', serif;
    font-family: 'Source Code Pro', monospace;
    font-family: 'Uchen', serif;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background-image: url(music3.jpg);

}

.Bottom {
    position: sticky;
    height: 120px;
    color: white;
    background-color: black;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons {
    margin-top: 14px;
}

.icons i {
    cursor: pointer;
}

#myProgressBar {
    width: 80vw;
    text-align: center;
    cursor: pointer;
}

.songItemContainer {
    margin-top: 34px;
}

.songItem {
    height: 53px;
    display: flex;
    background-color: rgb(243, 164, 80);
    width: 100%;
    color: black;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
    grid-column-gap: 50px;
    margin: 15px;

}

.songItem img {
    width: 53px;
    margin: 0 23px;
    border-radius: 34px;
}

.timestamp {
    margin: 0 23px;


}

.timestamp i {
    cursor: pointer;
}

.songInfo {
    position: absolute;
    left: 10vw;
}

.songInfo img {
    opacity: 0;
    transition: opacity is ease-in;
}
